<!DOCTYPE html>
// New line added 2024-09-22T19:21:36.013Z
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
// New line added 2024-09-22T19:21:36.013Z
// New line added 2024-09-22T19:21:36.013Z
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>